<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>一覧ページ</title>
</head>
<body>

    <a href="./home">ホームページへ</a>

    <p><%= message %></p>

    <table border="1">
        <thead>
            <tr>
                <td>name</td>
                <td>url</td>
                <td>description</td>
                <td>callApi</td>
            </tr>
        </thead>
        <tbody>
            <% let ary = items; %>
            <% ary.forEach(function (item, idx) { %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.url %></td>
                    <td><%= item.description %></td>
                    <td>
                        <form method="post" action="/execApiCall">
                            <span><input type="hidden" name="name" value="<%= item.name %>"/></span>
                            <span><input type="hidden" name="url" value="<%= item.url %>"/></span>
                            <span><input type="hidden" name="description" value="<%= item.description %>"/></span>
                            <button><span>ApiCall</span></button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

</body>
</html>
